* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* background-color: #101120; */
  text-align: center;
  overflow-x: hidden;
  font-family: "Open Sans";
}

img {
  width: 2em;
}

body {
  background-color: #101120;
}

#home {
  height: 100vh;
}

#home .text {
  text-align: center;
  margin-top: 50%;
  padding: 2.5em;
  /* margin-left: 10%; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); */
}

#home h1 {
  font-family: "Tomorrow";
  font-size: 2.8em;
  color: #b2b5d2;
  -webkit-animation: rise 1s ease-in-out;
  -moz-animation: rise 1s ease-in-out;
  animation: rise 1s ease-in-out;
}

#home h2 {
  font-size: 1.5em;
  color: #5e5f85;
  -webkit-animation: rise 1.5s ease-in-out;
  -moz-animation: rise 1.5s ease-in-out;
  animation: rise 1.5s ease-in-out;
}

#about {
  height: 70vh;
}

#tech {
  height: auto;
}

#about .text,
#tech .text {
  /* margin-left: 10%; */
  padding: 2.5em;
  margin-left: auto;
  margin-right: auto;
}

#about h2,
#tech h2 {
  font-size: 1.5em;
  color: #b2b5d2;
  padding-bottom: 1em;
}

#about p,
#tech p {
  font-size: 1em;
  color: #5e5f85;
}

.logos img {
  width: 2em;
}

.logos ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 2.5em;
  padding-top: 0;
  justify-content: center;
  align-items: center;
}

.logos li {
  padding: 1em;
}

#social {
  padding-top: 2em;
  padding-bottom: 2em;
}

#social ul {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  list-style: none;
}

#social li {
  padding: 1em;
  font-size: 1.2em;
}

#social a {
  color: #b2b5d2;
}

/* animations */

@-webkit-keyframes rise {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes rise {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (min-width: 760px) {
  * {
    text-align: left;
  }

  #home .text,
  #about .text,
  #tech .text {
    text-align: left;
    margin-left: 10%;
  }

  #home .text {
    margin-top: 25%;
  }

  #about .text,
  #tech .text {
    width: 40%;
  }

  .logos ul {
    width: 40%;
    margin-left: 10%;
  }

  #social {
    padding-top: 4em;
  }
}
