* {
  margin: 0;
  box-sizing: border-box;
  background-color: #f7dedd;
}

html {
  width: 100%;
}

#main-section {
  height: 60vh;
  background-color: #f7dedd;
  padding: 0 1em 3em 1em;
  overflow-x: hidden;
  overflow-y: hidden;
}

#main-section h1 {
  color: #ea4d5a;
  font-family: "Lemon", sans-serif;
  font-size: 2em;
  margin-top: -50%;
}

#main-section h2 {
  color: #ea4d5a;
  font-family: "Open Sans Condensed";
  font-weight: lighter;
  font-size: 1.3em;
}

#main-section svg {
  margin-left: 25%;
  margin-top: 25%;
  overflow-x: hidden;
}

#main-section .line {
  background-color: #f7b8bb;
  width: 2em;
  height: 0.4em;
  margin-top: 1em;
}

.transition1 svg {
  margin-bottom: -1em;
  position: relative;
  z-index: 0;
}

#about-section {
  background-color: #ea4d5a;
  padding: 0 1em 3em 1em;
  height: auto;
  position: relative;
  z-index: 1;
}

#about-section h2 {
  color: #f7dedd;
  font-family: "Lemon", sans-serif;
  font-size: 1.3em;
  padding: 0.5em 0 0.5em 0;
  background-color: #ea4d5a;
}

#about-section p {
  color: #f7dedd;
  font-family: "Open Sans Condensed";
  font-weight: lighter;
  background-color: #ea4d5a;
  padding-right: 1em;
}

.transition2 svg {
  transform: rotate(180deg);
  position: relative;
  margin-top: -1em;
  z-index: 0;
  background-color: #f7dedd;
}

#code-section,
#design-section {
  background-color: #f7dedd;
  padding: 2em 2em 3em 2em;
}

#code-section h2,
#design-section h2 {
  color: #ea4d5a;
  font-family: "Lemon", sans-serif;
  font-size: 1.3em;
  padding: 0.5em 0 0.5em 0;
  background-color: #f7dedd;
  margin-bottom: 2em;
}

.code-projects,
.design-projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.trivia-app {
  margin-top: 5em;
}

.donut-maker {
  margin-top: 0em;
}

.fiddly {
  margin-top: 3em;
}

text {
  font-family: "Lemon", sans-serif;
  font-size: 0.8em;
}

#contact-section .line {
  background-color: #f7b8bb;
  width: 3em;
  height: 0.4em;
  margin-top: 1em;
  display: block;
  margin: auto;
  margin-bottom: 3em;
}

.contact-links {
  text-align: center;
  color: #ea4d5a;
  font-size: 1.5em;
  margin-bottom: 2em;
}

.contact-links i {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

footer p {
  text-align: center;
  color: #f7b8bb;
  margin-bottom: 4em;
}


@media screen and (orientation:landscape) {
    #main-section svg {
        display: none;
    }

    #main-section h1 {
        margin-top: 2em;
    }
 }
