* {
    text-align: right;
    padding-right: .3em;
    text-decoration: none;
}

nav {
    width: 100%;
    height: 5em;
}

li {
    padding: .3em;
}

.nav-links {
    height: 0;
    overflow: hidden;
    list-style-type: none;
    list-style: none;
    color: #2B2F38;
  }

  .show-nav {
    height: 30em;
}

button {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.5em;
    color: #2B2F38;
}

@media screen and (min-width: 940px) {
    * {
        text-align: left;
        padding-top: 1.5em;
        padding-left: 1em;
    }

    nav {
        padding-top: 1.5em;
        width: 20%;
        position: fixed;
    }

    button {
        display: none;
    }

    li {
        padding: 1em;
    }

    .nav-links {
        height: auto;
        font-weight: 600;
    }
}