.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60vh;
    margin: auto;
    margin-bottom: 5em;
    margin-top: 5em;
}

.card-container:nth-child(odd) {
    display: flex;
    flex-direction: row-reverse;
    padding: 0em;
}

.card {
    background-color: #f4e3e3;
    width: 12em;
    height: 16em;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #e3d3d3, -5px -5px 10px #faf1f1;
    text-align: center;
}

.title {
    text-align: center;
    margin: 0;
    font-size: 1.2em;
    margin-bottom: 1em;
}

p {
    text-align: center;
    font-size: .8em;
    padding: 1em;
} 

.tools {
    display: none;
    width: 10em;
    color: #FF6B81;
    list-style: none;
}



@media screen and (min-width: 940px) {
    .card:hover {
        box-shadow: 0px 0px 0px #e3d3d3, 0px 0px 0px #faf1f1;
        box-shadow: inset 10px 10px 20px #e3d3d3, -5px -5px 10px #faf1f1;
        width: 12em;
    height: 16em;
    }
    
    .card:hover + .tools {
        display: block;
        color: #FF6B81;
    }
    
    .tools-list {
        color: #FF6B81;
        margin-top: -1em;
    }
}