html { 
    background: url("./sprinkles.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

.container {
    background-color: #c8e0ea;
    text-align: center;
    opacity: .85;
}

.click-handler__donut-display {
    font-family: 'Press Start 2P', cursive;
    font-size: 32px;
    color: rgb(112, 57, 130);
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to { 
      transform: rotate(360deg);
    }
  }

.click-handler__bake-button {
    background-color: #c8e0ea;
    background-image: url("./donut-crop.png");
    background-repeat: no-repeat;
    height: 160px;
    width: 160px;
    border: 0;
    outline: none;
    cursor: pointer;
    animation: rotate 1s infinite linear;
}

.click-handler__bake-button:active {
    animation: rotate .3s infinite linear;
}

.auto-clicker__purchase-button, .click-multiplier__purchase-button {
    background-color: rgba(228, 152, 194, 0.795);
    border-radius: 20px;
    min-height: 40px;
    border: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
}

.auto-clicker__purchase-button:active, .click-multiplier__purchase-button:active {
    background: rgba(179, 119, 152, 0.795);
    -webkit-box-shadow: inset 0px 0px 5px rgba(179, 119, 152, 0.795);
    -moz-box-shadow: inset 0px 0px 5px rgba(179, 119, 152, 0.795);
    box-shadow: inset 0px 0px 5px rgba(179, 119, 152, 0.795);
    font-size: 12px;
    outline: none;
    cursor: pointer;
}

.reset-button {
    background-color: rgba(240, 240, 148, 0.927);
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    min-height: 30px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.reset-button:active {
    background-color: rgba(190, 190, 117, 0.927);
    font-size: 10px;
}

.auto-clicker__auto-clicks-display, .click-multiplier__multiplier-display {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

li {
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: lightslategrey;
    padding: 5px;
}

a {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: lightslategrey;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}


@media screen and (max-width: 1220px) {
    .container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    a {
        display: none;
    }

    .click-handler__donut-display {
        font-size: 120%;
    }

    .click-handler__bake-button {
        background-size: 100%;
        width: 7em;
        height: 7em;
    }

    .click-handler__bake-button:active {
        width: 7em;
        height: 7em;
    }

    .auto-clicker__purchase-button, .click-multiplier__purchase-button {
        width: 20vh;
        height: 6vh;
        font-size: 30%;
    }

    .auto-clicker__purchase-button:active, .click-multiplier__purchase-button:active {
        width: 20vh;
        height: 6vh;
        font-size: 30%;
    }

    .reset-button {
        width: 9vh;
        height: 4vh;
        font-size: 30%;
    }

    .reset-button:active {
        width: 9vh;
        height: 4vh;
        font-size: 30%;
    }

    html {
        text-align: center;
        width: 100%;
        height: 100%;
    }
}