* {
    background-color: black;
    margin: auto;
}

h1 {
    color: white;
    margin-top: 20px;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 30px;
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

h2 {
    color: white;
    margin-top: 20px;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 20px;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    border-color: white;
    width: 600px;
    height: 600px;
}

.container div {
    width: 40px;
    height: 40px;
}

.shooter {
    background-image: url(./space-images/shooter.png);
    background-repeat: no-repeat;
}

.invader {
    background-image: url(./space-images/alien.png);
    background-repeat: no-repeat;
    background-size: 50%;
}

.boom {
    background-color: #301c57;
}

.laser {
    background-image: url(./space-images/bullet.png);
    background-repeat: no-repeat;
}